@import '@styles/variables.scss';
@import '@styles/mixins/media.scss';

.button {
  display: block;
  margin: 0 auto;
  border-radius: 8px;
  padding: clamp(4px, 5vw, 12px) clamp(4px, 2vw, 32px);
  text-align: center;
  color: white;
  background-color: $puerto-rico;
  cursor: pointer;
  border: none;
  width: 100%;
  font-weight: 700;

  @include media('tablet') {
  }

  &:hover {
    cursor: pointer;
  }
}

.secondary {
  background-color: transparent;
  border: 1px solid $dark;
  color: $dark;
}

.disabled {
  background-color: $gray;
  opacity: 0.5;
  cursor: auto !important;
}
