.container {
  margin-top: 16px;
  display: flex;

  font-size: 12px;
  line-height: 20px;

  & > div {
    margin-left: 8px;

    .bold {
      font-weight: 700;
      line-height: 16px;
    }
  }
}
